@using System.Web.Optimization

<!DOCTYPE html>

<html>
    <head>
        <title>Arcanum Reborn</title>

        @Styles.Render("~/Styles")
    </head>
    <body>
        @RenderBody()

        @Scripts.Render("~/Scripts/Libraries")

        @Html.Partial("RazoredScripts")

        @Scripts.Render("~/Scripts/GameStaff")
    </body>
</html>